#hero {
  margin: auto;
  max-width: 1200px;
  min-width: 360px;
  height: 589px;

  position: relative;

  color: #f2e5d8;

  container-type: inline-size;

  .details {
    position: absolute;
    z-index: 2;
    text-shadow: 0 0 10px #060607;


    /* Evaluates to 50px for a 360px wide container, and 220px for 1200px */
    top: clamp(50px, 20.238cqi - 22.857px, 220px);

    /* Evaluates to 20px for a 360px wide container, and 565px for 1200px */
    left: clamp(20px, 64.881cqi - 213.571px, 565px);

    * {
      margin: 0;
      padding: 0;
    }

    h1 {
      /* Evaluates to 3.5rem for a 360px wide container, and 5rem for 1200px */
      font-size: clamp(3.5rem, 2.857rem + 2.857cqi, 5rem);
      font-weight: 800;
    }

    p {
      /* Evaluates to 2rem for a 360px wide container, and 2.5rem for 1200px */
      font-size: clamp(2rem, 1.786rem + 0.952cqi, 2.5rem);
    }
  }

  &::before {
    content: '';
    position: absolute;

    z-index: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../meerkat.jpg);
    background-origin: content-box;
    background-repeat: no-repeat;

    /* Evaluates to -310px for a 450px wide container, and 0px for 1200px */
    background-position-x: clamp(-310px, 41.333cqi - 496px, 0px);

    /* Evaluates to -25px for a 450px wide container, and 0px for 1200px */
    background-position-y: clamp(-25px, 3.333cqi - 40px, 0px);

    /* Evaluates to 710px for a 360px wide container, and 589px for 1200px */
    background-size: auto clamp(589px, 761.857px - 14.405cqi, 710px);
  }
}